.sidebar-btn-bg {
  background-color: #2f538f;
}
.sidebar {
  height: 100vh;
  background-color: #2f538f;
  width: 10vw;
}
.grow {
  flex-grow: 1;
}
.col{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.subnav{
  width: 100%;
  background-color: #2f538f;
  height: 35px;
}
