.input-label{
    gap:3px;
    padding: 6px;
    }
    
    .input-label label , select{
        align-self: flex-start;
    }
    
    .input-label select{
        height: 45px;
        max-width: 330px;
        border: 1px solid #0F4C75 ;
        background-color: #E8E9EB;
        opacity: 0.5;
        font-size: 0.8rem;
        font-weight: 600;
       padding: 5px;
      color: #131414;
        }
    .border-rad-eight{
        border-radius: 6px;
    }
    
    .select:focus{
        outline: none;
        border: 3px solid #0F4C75;
    }