.status-green {
  align-items: center;
  background-color: #e6f5ee;
  border: 0.5px solid;
  border-color: #069855;
  border-radius: 8px;
  display: inline-flex;
  gap: 10px;
  padding: 4px 12px;
  position: relative;
}

.status-green .text-wrapper {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #069855;
  display: -webkit-box;
  font-family: "Lato", Helvetica;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.status-yellow {
  align-items: center;
  background-color: #fbf5e8;
  border: 0.5px solid;
  border-color: #d39c1d;
  border-radius: 8px;
  display: inline-flex;
  gap: 10px;
  padding: 4px 12px;
  position: relative;
}

.status-yellow .text-wrapper {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #d39c1d;
  display: -webkit-box;
  font-family: "Lato", Helvetica;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.status-red {
  align-items: center;
  background-color: #f5e6e6;
  border: 0.5px solid;
  border-color: #d62525;
  border-radius: 8px;
  display: inline-flex;
  gap: 10px;
  padding: 4px 12px;
  position: relative;
}

.status-red .text-wrapper {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #d62525;
  display: -webkit-box;
  font-family: "Lato", Helvetica;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.status-gray {
  align-items: center;
  background-color: #f3f4f6;
  border: 0.5px solid;
  border-color: #6b7280;
  border-radius: 8px;
  display: inline-flex;
  gap: 10px;
  padding: 4px 12px;
  position: relative;
}

.status-gray .text-wrapper {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #6b7280;
  display: -webkit-box;
  font-family: "Lato", Helvetica;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}
