ul {
  list-style: none;
}

li.activate {
  border-bottom-style: solid;
  border-color: #28eea7;
}

a {
  padding: 0 1em;
  text-decoration: none;
}
a:hover {
  color: #142f5a;
  text-decoration: none !important;
}

.subnavbar {
  width: 100%;

  background-color: #ffffff;

  height: 35px;
  justify-content: start;
  position: sticky;
  top: 80px;
  z-index: 9999999;
}

li {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
